@page
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@using FacilityFeedback.Data.ViewModels;
@model FacilityFeedback.RazorPage.Pages.TaskProcessPage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<div id="WaitingState">
  @*   @await Component.InvokeAsync("TaskProcessState") *@
    @await Component.InvokeAsync("TaskProcessState", new {state = "Waiting"})
</div>

<div id="IncomingState">
</div>

<div id="ProcessingState">
</div>

<div id="EndingState">
</div>

@section Scripts {
    <script>
       

    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}