@page
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@using FacilityFeedback.Data.ViewModels;
@model FacilityFeedback.RazorPage.Pages.TaskProcessPage.IndexModel
@Html.AntiForgeryToken();
@{
    ViewData["Title"] = "Index";
}

<h1>Task management</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<div style="min-height: 350px">
    <h2>Waiting State</h2>
    <div id="WaitingState">
        @await Component.InvokeAsync("TaskProcessState", new {state = "Waiting", pageIndex = 1})
    </div>
</div>

<div style="min-height: 350px">
    <h2>Incoming State</h2>
    <div id="IncomingState">
        @await Component.InvokeAsync("TaskProcessState", new {state = "Incoming", pageIndex = 1})

    </div>
</div>

<div style="min-height: 350px">
    <h2>Processing State</h2>
    <div id="ProcessingState">
        @await Component.InvokeAsync("TaskProcessState", new {state = "Processing", pageIndex = 1})
    </div>
</div>

<div style="min-height: 350px">
    <h2>Ending State</h2>
    <div id="EndingState">
        @await Component.InvokeAsync("TaskProcessState", new {state = "Ending", pageIndex = 1})
    </div>
</div>
@section Scripts {
    <script src="../js/TaskProcess/TaskProcessIndex.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}