@page
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@using FacilityFeedback.Data.ViewModels;
@model FacilityFeedback.RazorPage.Pages.TaskProcessPage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<div id="WaitingState">
    @await Component.InvokeAsync("TaskProcessState", new {state = "Waiting", pageIndex = 1})
</div>

<div id="IncomingState">
    @await Component.InvokeAsync("TaskProcessState", new {state = "Incoming", pageIndex = 1})

</div>

<div id="ProcessingState">
    @await Component.InvokeAsync("TaskProcessState", new {state = "Processing", pageIndex = 1})
</div>

<div id="EndingState">
    @await Component.InvokeAsync("TaskProcessState", new {state = "Ending", pageIndex = 1})
</div>

@section Scripts {
    <script src="../js/TaskProcess/TaskProcessIndex.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}