@page
@model FacilityFeedback.RazorPage.Pages.Login.IndexModel
@{
    Layout = null;
}
<html>
    <head>
    <link href="../css/loginStyle.css" rel="stylesheet">
    </head>
    <body onload="checkSignUpError()">

    <section>
        <div class="main-form-container">
            <div id="form_section" class="form-container">
                <form class="login-form form-wraper" method="post">
                    <div>
                        <div class="form-title">
                            <h2>Login</h2>
                        </div>
                        <div class="input-group">
                            <div class="box">
                                <span>
                                    <input asp-for="@Model.Account.Email" placeholder="Email" class="myInput" type="text" />
                                </span>
                            </div>
                        </div>
                        <div class="input-group">
                            <div class="box">
                                <span>
                                    <input asp-for="@Model.Account.Password" placeholder="Password" class="myInput" type="text" type="password" />
                                </span>
                            </div>
                            <span class="text-danger" id="loginError" style="color:red;">@ViewData["ErrorLoginMessage"]</span>
                        </div>
      
                        <div class="forget-password">
                            <a href="">FORGOT PASSWORD</a>
                        </div>
                        <div class="action-button">
                            <button>Login</button>
                        </div>
                    </div>
                </form>
                <div class="signUp-form form-wraper">
                    <form method="post" asp-page-handler="AsyncRegister">
                        <div class="form-title">
                            <h2>Sign Up</h2>
                        </div>
                        <div class="input-group">
                            <div class="box">
                                <span>
                                    <input asp-for="Account.Name" placeholder="Full Name" class="myInput" type="text" />
                                </span>
                            </div>
                            <span asp-validation-for="Account.Name" style="color:red;" class="error-signup"></span>
                        </div>
                        <div class="input-group">
                            <div class="box">
                                <span>
                                    <input asp-for="Account.Email" placeholder="Email" class="myInput" type="text" />
                                </span>
                            </div>
                            <span asp-validation-for="Account.Email" style="color:red;" class="error-signup"></span>
                        </div>
                        <div class="input-group">
                            <div class="box">
                                <span>
                                    <input asp-for="Account.PhoneNumber" placeholder=" Mobile No." class="myInput" type="number" />
                                </span>
                            </div>
                            <span asp-validation-for="Account.PhoneNumber" style="color:red;" class="error-signup"></span>
                        </div>
                        <div style="margin-bottom: 0px;" class="input-group">
                            <div class="box">
                                <span>
                                    <input asp-for="Account.Password" placeholder="Password" class="myInput" type="password" />
                                </span>
                            </div>
                            <span asp-validation-for="Account.Password" style="color:red;" class="error-signup"></span>
                        </div>
                        <div class="action-button">
                            <button>Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="multiple-btn" class="bg-btn-container">
                <div class="action-button">
                    <button>Login</button>
                </div>
                <div class="action-button">
                    <button>Sign Up</button>
                </div>
            </div>

        </div>
    </section>

    <script src="../js/Login/login.js"></script>
    <script src="../js/Login/loginreturn.js"></script>
    </body>
</html>
