@page
@model FacilityFeedback.RazorPage.Pages.DevicePage.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Device</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Device.Id" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Device.Status" /> @Html.DisplayNameFor(model => model.Device.Status)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Device.ExpiredDay" class="control-label"></label>
                <input asp-for="Device.ExpiredDay" class="form-control" />
                <span asp-validation-for="Device.ExpiredDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Device.DeviceCode" class="control-label"></label>
                <input asp-for="Device.DeviceCode" class="form-control" />
                <span asp-validation-for="Device.DeviceCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Device.Manufacture" class="control-label"></label>
                <input asp-for="Device.Manufacture" class="form-control" />
                <span asp-validation-for="Device.Manufacture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Device.Description" class="control-label"></label>
                <input asp-for="Device.Description" class="form-control" />
                <span asp-validation-for="Device.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Device.DeviceTypeId" class="control-label"></label>
                <select asp-for="Device.DeviceTypeId" class="form-control" asp-items="ViewBag.DeviceTypeId"></select>
                <span asp-validation-for="Device.DeviceTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Device.RoomId" class="control-label"></label>
                <select asp-for="Device.RoomId" class="form-control" asp-items="ViewBag.RoomId"></select>
                <span asp-validation-for="Device.RoomId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
